body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 80px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 18px;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 30px;
}

.firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

img {
    height: 400px;
    margin: 50px;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
}

h1 {
    font-size: 24px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.section {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.whiteCat {
    width: 150px;
    height: 150px;
    padding: auto;
    margin: 0px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 150px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.thor {
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px ;
}

.box {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 30px 50px;
    justify-content: space-between;
}

.button2 {
    border: 2px solid #E5E7EB;
    padding: 3px 10px;
    margin: 30px;
    font-weight: bold;
}